* {
    box-sizing: border-box;
    margin: 0%;
}

body, html {
    height: 100%;
  }

.first {
    display: flex;
    justify-content:left;
    background-color: rgb(240, 240, 240);
}


.scnd {
    display: flex;
    flex-direction: column;

}

p {
    margin: 50px;
}

h2 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 50px;
}

#gword {
    color: rgb(226, 34, 66);
}

button {
    margin-top: 50px;
    height: 50px;
    width: 80px;
    background-color: rgb(255, 63, 63);
    color: white;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: background-color 0.5s ease, transform 0.2s ease-out;
}

.b {
    margin-left: 50px;
}

h3 {
    font-family: 'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
}

button:hover {
    background-color: rgba(255,63,63,0.5);
  }  

button:active {
    transform: scale(0.90);
}

.score {
    margin: 50px;
    font-family: 'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.thrd {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    margin-left: 50px;
    align-self: center;
    background-color: antiquewhite;
}

#new-pop-up {
    margin: 0;
}
